.place__title {
  margin: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.056;
}

@media  screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 1.095;
  }
}

@media  screen and (max-width: 414px) {
  .place__title {
    font-size: 32px;
    line-height: 1.094;
    margin: 0 calc(var(--indent_s) * 1px);
  }
}
