.page {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  border: 1px red dashed;
  position: relative;
  z-index: 0;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  --ind_l: 48px;
  --ind_m: 24px;
  --ind_s: 16px;
}

/* .page__dev {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  border: 1px green dashed;
  width: 24px;
  height: 100%;
} */
