.photo-grid {
  margin: 0 48px;
}


@media  screen and (max-width: 1024px) {
  .photo-grid {
/*  Расчёт величины боковых внешних отступов (от 48px до нуля) (расчет скопирован из lead__image-container)
  Для vw = 1024px бок. отступы составляют 48px каждый
  На vw = 768px отступы по 0px каждый
  1024px - 768px = 256px   — диапазон изменения разрешения экрана
  48 - 0 = 48px    — диапазон изменения отступов
  48 / 256 = 0,1875   — коэф. изменения величины отступа при изм. vw на 1px
  1024px - z = 1024px - 100vw   — величина превышения 1024px над тек. шириной экрана
  Добавим для z условие максимума
  1024px - max(768px, 100vw)    — выражение не позволит вычислить отриц. отступ
  (1024px - max(768px, 100vw)) * 0.1875 = a   — величина необходимого изменения отступа
  48px - a   — искомый отступ */
    /* Данный расчет может уменьшить паддинг до нуля, потому ниже в медизапросе вводим ограничение в 24px */
    margin: 0 calc(48px - (1024px - max(768px, 100vw)) * 0.1875);
  }
}

@media  screen and (max-width: 896px) {
  .photo-grid {
        /* При vw = 896px бок. внешн. отступы у тега figure в блоке lead по 24px (они вычисляются calc-ом)
    Значит, для одинакового начала строк, надо для intro на той же vw задать padding
    К тому же расчет выше может свести паддинг в ноль */
    margin: 0 24px;
  }
}

@media  screen and (max-width: 414px) {
  .photo-grid {
    margin: 0 16px;
  }
}
