.places {
  /*  Расчёт величины боковых внешних отступов (от 148 до 48px)
  Для vw = 1280px бок. отступы составляют 148px каждый
  На vw = 1024px отступы по 48px каждый
  1280px - 1024px = 256px   — диапазон изменения разрешения экрана
  148 - 48 = 100px    — диапазон изменения отступов
  100 / 256 = 0,391   — коэф. изменения величины отступа при изм. vw на 1px
  1280px - z = 1280px - 100vw   — величина превышения макс. ширины макета (1280px) над тек. шириной экрана
  Добавим для z условие минимума
  1280px - min(1280px, 100vw)    — выражение не позволит вычислить отриц. превышение
  (1280px - min(1280px, 100vw)) * 0.391 = a   — величина необходимого изменения отступа
  148px - a   — искомый отступ */
  margin: 0 calc(148px - (1280px - min(1280px, 100vw)) * 0.391);
  max-width: 984px;
  padding: 92px 0;
}

@media screen and (max-width: 1024px) {
  .places {
    /*  Расчёт величины боковых внешних отступов (от 48px до нуля) (расчет скопирован из lead__image-container)
  Для vw = 1024px бок. отступы составляют 48px каждый
  На vw = 768px отступы по 0px каждый
  1024px - 768px = 256px   — диапазон изменения разрешения экрана
  48 - 0 = 48px    — диапазон изменения отступов
  48 / 256 = 0,1875   — коэф. изменения величины отступа при изм. vw на 1px
  1024px - z = 1024px - 100vw   — величина превышения 1024px над тек. шириной экрана
  Добавим для z условие максимума
  1024px - max(768px, 100vw)    — выражение не позволит вычислить отриц. отступ
  (1024px - max(768px, 100vw)) * 0.1875 = a   — величина необходимого изменения отступа
  48px - a   — искомый отступ */
    /* Данный расчет может уменьшить паддинг до нуля, потому ниже в медизапросе вводим ограничение в 24px */
  margin: 0 calc(48px - (1024px - max(768px, 100vw)) * 0.1875);
  }
}

@media  screen and (max-width: 896px) {
  .places {
    padding: 88px 0 90px 0;
    margin: 0 24px;
  }
}

@media  screen and (max-width: 414px) {
  .places {
    padding: 64px 0 66px 0;
    margin: 0;
  }
}
