.link:link {
  cursor: pointer;
  color: #fff;
  opacity: 1;
  transition: opacity .3s linear;
  text-decoration: none;
}

.link:visited {
  color: #fff;
}

.link:focus {
  color: #fff;
}

.link:hover {
  color: #fff;
  opacity: 0.8;
}

.link:active {
  color: #fff;
}
