.place__text {
  /* width: 100%; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.63;
}

@media  screen and (max-width: 800px) {
  .place__text {
    font-size: 16px;
  }
}

@media  screen and (max-width: 414px) {
  .place__text {
    margin: 0 calc(var(--indent_s) * 1px);
  }
}
