.intro {
  padding: 0 0 92px;
  max-width: 690px;
  margin: 0;
}

@media  screen and (max-width: 896px) {
  .intro {
    padding: 0 0 88px;
    max-width: none;
  }
}

@media  screen and (max-width: var(414px)) {
  .intro {
    padding: 0 0 64px;
  }
}
