.place__website {
  width: 100%;
  align-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media  screen and (max-width: 414px) {
  .place__website {
    align-self: stretch;
    margin-left: calc(var(--indent_s) * 1px);
  }
}
