/*
Данный БЭМ-микс задаёт внешнюю геометрию согласно правилам методологии БЭМ
В блоках страницы заданы margin: 0, которые затем переопределяются данным микс-стилем
*/

/* Без модификации микс выровняет элемент посередине */
.centered-block {
  margin-left: auto;
  margin-right: auto;
}

:root, .centered-block {
  /*
  indent - ind - отступ (margin, padding)
  l, m, s - large, middle, small и т.д.
  */
  --indent_xl: 148; /* px, значение не указывается из-за правил функции calc*/
  --indent_l: 48;
  --indent_m: 24;
  --indent_s: 16;

  /*
  var - variation - изменение
  vw - view width - ширина просмотра (окна браузера)
  */
  --coef_var-ind_per_var-vw: var(--current-var-ind) / var(--current-var-vw);


  /* Ниже представлены примеры расчётов */
  /*
  Расчёт величины отступа (от 148 до бесконечности)
  Согласно макету для vw = 1280px бок. отступы составляют 148px каждый
  На vw = 1024px отступы по 48px каждый
  1280px - 1024px = 256px   — диапазон изменения разрешения экрана [--current-var-vw]
  148 - 48 = 100px    — диапазон изменения отступов [--current-var-ind]
  100 / 256 = 0.391   — коэф. изменения величины отступа при изм. vw на 1px [--coef_var-ind_per_var-vw]
  1280px - z = 1280px - 100vw   — величина превышения макс. ширины макета (1280px) над тек. шириной экрана
  Добавим для z условие минимума
  1280px - min(1280px, 100vw)    — выражение не позволит вычислить отриц. превышение
  (1280px - min(1280px, 100vw)) * 0.391 = a   — величина необходимого изменения отступа
  148px - a   — искомый отступ, где 148px = var(--indent_xl)
  Данная формула при vw = 1024px вычислит отступ в 48px
  При дальнейшем уменьшении vw отступ продолжит уменьшатся
  При vw = 901.483px достигнет нуля и далее будет отрицательным
  Потому в медизапросах ниже неоходимо переопределить расчет отступа
  Итоговый расчет: 148px - (1280px - min(1280px, 100vw)) * 0.391;
  В css-файлах модификаторов данного блока формула, приведенная строчкой выше, выражена через пользовательские css-свойства
  */

  /*
  Расчёт величины боковых внешних отступов (от 48px до нуля)
  Для vw = 1024px бок. отступы составляют 48px каждый
  На vw = 768px отступы по 0px каждый
  1024px - 768px = 256px   — диапазон изменения разрешения экрана
  48 - 0 = 48px    — диапазон изменения отступов
  48 / 256 = 0.1875   — коэф. изменения величины отступа при изм. vw на 1px
  ( !! Как мы видим коэф. отличается от такого же коэф. при
    масштабировании от 1280px до 1024px, потому  необходимо два вычисления !! )
  1024px - z = 1024px - 100vw   — величина превышения 1024px над тек. шириной экрана
  Добавим для z условие максимума
  1024px - max(768px, 100vw)    — выражение не позволит вычислить отриц. отступ
  (1024px - max(768px, 100vw)) * 0.1875 = a   — величина необходимого изменения отступа
  48px - a   — искомый отступ
  Итого calc(48px - (1024px - max(768px, 100vw)) * 0.1875);
  Ниже нуля значение отступа не станет
  Далее в медиазапросах задаю отступ 24px или 16px (т.е. уже без плавности)
  */
}
